 <!--
  <div style="float:left">
<h1>Test</h1>
    <img src="img/myavanahairjourneyapp.png" alt="Washed Out" style="" ng-click="mediaClicked({{userPost}})">
 </div>
-->

<!--

  <div class="list card">

 
  <div class="item item-image">
    <img ng-src="img/myavanahairjourneyapp.png" width="100%" alt="Washed Out" style="" ng-click="mediaClicked({{userPost}})">
  </div>

</div>

-->

<img ng-src="img/myavanahairjourneyapp.png" width="100%" alt="Washed Out" style="padding:0px;" ng-click="mediaClicked({{userPost}})">